{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col">
				<h1>Gérer les suppléments</h1>
				{#
					affichage des messages flash
					notice est la clé créée dans le contrôleur
				#}
				{% for item in app.flashes('notice') %}
					<p class="alert alert-success">{{ item }}</p>
				{% endfor %}
				<p>
					<a href="{{ url('admin.supplements.form') }}" class="btn btn-primary">Ajouter</a>
				</p>
				<table class="table table-striped">
					<tr>
						<th>Id</th>
						<th>Nom</th>
                        <th>Description</th>
                        <th>Prix</th>
						<th></th>
						
					</tr>
					{# results est envoyé par le contrôleur #}
					{% for suppl in results %}
						<tr>
							<td>
								{{ suppl.id }}
							</td>
							<td>
								{{ suppl.nom }}
							</td>
                            <td>
								{{ suppl.description }}
							</td>
                            <td>
								{{ suppl.prix }}
							</td>
							<td>
								<a href="{{ url('admin.supplements.form.update', { id: suppl.id } ) }}" class="btn btn-warning">Modifier</a>

								<a href="{{ url('admin.supplements.remove', { id: suppl.id } ) }}" class="btn btn-danger">Supprimer</a>
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
{% endblock %}