{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col">
				<h1>Gérer les réservations</h1>
				{# 
					form : variable envoyée par le contrôleur
					<form novalidate="novalidate"
				#}
				{{ form_start(form, { attr : { 'novalidate' : 'novalidate' } }) }}
					<p>
						{{ form_label(form.date_reservee, 'date reservée :') }}
						{{ form_widget(form.date_reservee) }}
						{{ form_errors(form.date_reservee) }}
					</p>

					<p>
						<input type="submit" class="btn btn-info">
					</p>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}