{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col">
				<h1>Gérer mes réservations</h1>
				{#
					affichage des messages flash
					notice est la clé créée dans le contrôleur
				#}
				{% for item in app.flashes('notice') %}
					<p class="alert alert-success">{{ item }}</p>
				{% endfor %}
				<table class="table table-striped">
					<tr>
						<th>Id</th>
						<th>IdTheme</th>
                        <th>IdClient</th>
						<th>Date réservée</th>
						<th></th>
						
					</tr>
					{# results est envoyé par le contrôleur #}
					{% for reservation in results %}
						<tr>
							<td>
								{{ reservation.id }}
							</td>
							<td>
								{{ reservation.themeId }}
							</td>
                            <td>
								{{ reservation.userId }}
							</td>
							<td>
								{{ reservation.dateReservee  |date('d-m-Y')  }}
							</td>
							<td>
								<a href="{{ url('reservations.supplements', { id: reservation.id } ) }}" class="btn btn-success">Suppléménts</a>

								<a href="{{ url('reservations.devis', { id: reservation.id } ) }}" class="btn btn-success">Devis</a>
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
{% endblock %}